#header {
    height: 80px;
    background: transparent;
}

#header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header .logo img {
    display: block;
}

#navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#navbar li a {
    position: relative;
    padding: 6px 10px;
    font-weight: 700;
    color: var(--font-color-1);
}

#navbar li button {
    padding: 5px;
    margin: 15px;
    background-color: var(--secondary-color);
    color: var(--font-color-1);
    font-weight: 700;
    border: 0;
    border-radius: var(--border-radius);
}
/* :hover kismi eklenecek */

