#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: var(--background-color-black);
}

#hero image {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

#hero .hero-text button {
    position: absolute;
    top: 15%;
    left: 20%;
    background-color: var(--primary-color);
    padding-top: 2px; 
    padding-bottom: 2px; 
    margin: 10px; 
    border: 0; 
    color: var(--font-color-1); 
    border-radius: 3px; 
    font-size: small; 
    font-weight: 600; 
    text-emphasis-color: var(--font-color-2); 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#hero .hero-text h1 {
    position: absolute;
    top: 20%;
    left: 20%;
    right: 20%;
    color: var(--font-color-1);
    font-size: 80px;
    font-weight: 800;
    letter-spacing: -0.5px;
}

#hero .hero-text p {
    position: absolute;
    top: 50%;
    left: 20%;
    right: 20%;
    background-color: black;
    font-size: 30px;
    font-weight: 700;
    background: transparent;
}

#hero .hero-button {
    position: absolute;
    top: 80%;
    left: 20%;
}


