
.stats-container {
    display: flex;
    justify-content: center;
    background-color: var(--background-color-blue);
    align-items: center;
    padding: 20px;
    text-align: center;
}

.stat-box {
    background-color: var(--background-color-white);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 200px;
    margin: 0 20px;
}

.stat-number {
    font-size: 20px;
    font-weight: 800;
    color: var(--primary-color)
}

.stat-label {
    font-size: 16px;
    font-weight: 800;
    color: var(--font-color-2);
    margin-top: 10px;
}
