#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  color: black;
}

body{
  margin: 0;
  padding: 0;
  background-color: rgb(221, 222, 218)
}

.container {
  padding: 3rem 3rem ;

}
.title {
  background-color: rgb(255, 255, 255);
  padding:1rem 0;
  margin-bottom: 0.7rem;

}

.bill-gates {
  width: 150px;
  height: auto;
  border-radius: 50%;
}


h1{
  margin: 0;
  font-size: 2.3em;
}

.money {
  background-color: #337241;
  padding:1rem 0;
  color: rgb(252, 252, 252);
  margin-bottom: 0.7rem;
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.7rem;
}

.product {
  padding: 1.5rem 0;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product img {
  width: 150px;
  height: 100px;
  object-fit:contain;
  margin-bottom: 1rem;
}

.price {
  color: #25C484;
  font-weight: 700;
  font-size: 1.2em;
}

.product h2, .product h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.product-button {
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 1rem;
}