html, body {
  max-width: 2000px;
  margin: 0;
  padding: 0;
}

.contentArea {
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: column;
  align-items: center;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100vh;
  position: relative;
  padding-bottom: 25px;
}

.hero img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: blur(3px);
}

.hero p {
  font-size: 60px;
  color: rgba(0, 0, 0, 0.676);
  font-weight: 700;
  text-align: center;
  z-index: 1;
  max-width: 1200px;
  padding: 10px 20px;
  border-radius: 8px;
}

.hero button {
  font-size: 16px;
  padding: 12px 24px;
  z-index: 1;
  margin-bottom: 250%;
  background-color: #ff6f61;
}

.body, h1, h2 {
  padding-left: 10px;
}

.bodyArea .actionBtn {
  margin-top: 10px;
  height: 50px;
  background-color: #ff6f61;
}
 
.hero button:hover {
  background-color: #e65b50;
}

.bodyArea .actionBtn:hover {
  background-color: #e65b50;
}